
      @import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      main {
        display: block;
      }

      body {
        display: block;
      }

      /* width */
      ::-webkit-scrollbar {
        width: 10px;
      }

      ::-webkit-scrollbar-track {
        background: none;
      }

      ::-webkit-scrollbar-thumb {
        background: #888;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      html {
        display: block;
      }

      nav {
        font-family: "Barlow", sans-serif;
        position: relative;
        margin: 0px 15px;
        padding: 20px;
        display: flex;
        right: 2%;
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

      .logo-svg {
        position: relative;
        top: 35%;
        left: 2%;
      }

      ul {
        list-style: none;
        display: flex;
        margin-top: 20px;
        cursor: pointer;
        margin: 0;
        margin-left: 50%;
      }

      nav a {
        padding: 20px;
        display: inline-flex;
        justify-content: space-evenly;
        text-decoration: none;
        color: white;
      }

      .contact-btn {
        display: inline-flex;

        margin-top: 7px;
      }

      .contact-btn a {
        font-family: "Fraunces", serif;
        font-size: 0.8em;
        color: black;
        background-color: white;
        border-radius: 50px;
        height: 40px;
        align-items: center;
        justify-content: center;
      }

      .first-content {
        background-image: url("https://raw.githubusercontent.com/haneulffer98/Sunnyside-agency-landing-page/main/images/desktop/image-header.jpg");
        background-size: cover;
        background-position: center;
        height: 625px;
      }

      .title-header {
        font-size: 1.5em;
        font-family: "Fraunces", serif;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 8px;
        margin-bottom: 50px;
        color: white;
        text-align: center;
        font-family: "Fraunces", serif;
      }

      h1 {
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }

      .sec-content {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
      }

      .content-with-egg {
        width: 50%;
        padding: 175px 80px 10px 90px;
        background-color: white;
      }

      .sec-content-title {
        font-family: "Fraunces", serif;
        padding-bottom: 20px;
        color: hsl(212, 27%, 19%);
      }

      .sec-content-p {
        font-family: "Barlow", sans-serif;
        color: hsl(210, 4%, 67%);
        line-height: 30px;
        padding-bottom: 20px;
      }

      .sec-content a {
        font-family: "Fraunces", serif;
        font-size: 1em;
        text-transform: uppercase;
        padding-top: 15px;
        text-decoration: none;
      }

      .inactive-line {
        background-color: rgb(255, 230, 0);
        opacity: 20%;
        z-index: 99;
        display: block;
        position: relative;
        top: -1.5%;
        width: 120px;
        height: 10px;
        border-radius: 10px;
        content: "";
        cursor: pointer;
      }

      /*hover/clicked states */

      .inactive-line:hover {
        background-color: rgb(255, 230, 0);
        opacity: 75%;
        z-index: 10;
        display: block;
        position: relative;
        top: -1.5%;
        width: 120px;
        height: 10px;
        border-radius: 10px;
        content: "";
      }

      .third-inactive-line:hover {
        background-color: rgb(250, 0, 0);
        opacity: 50%;
        z-index: 99;
        display: block;
        position: relative;
        top: -1.5%;
        width: 120px;
        height: 10px;
        border-radius: 10px;
        content: "";
      }

      .contact-btn a:focus {
        font-family: "Fraunces", serif;
        font-size: 0.8em;
        color: white;
        background-color: rgba(255, 255, 255, 0.459);
        border-radius: 50px;
        height: 40px;
        align-items: center;
        justify-content: center;
      }

        /*hover/clicked states */

      .egg-pic {
        background-image: url("https://raw.githubusercontent.com/haneulffer98/Sunnyside-agency-landing-page/main/images/desktop/image-transform.jpg");
        display: block;
        height: 600px;
        background-position: center;
        background-size: cover;
        width: 50%;
      }

      .third-content {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
      }

      .third-content a {
        font-family: "Fraunces", serif;
        font-size: 1em;
        text-transform: uppercase;
        padding-top: 15px;
        text-decoration: none;
      }

      .glass-pic {
        background-image: url("https://raw.githubusercontent.com/haneulffer98/Sunnyside-agency-landing-page/main/images/desktop/image-stand-out.jpg");
        display: block;
        height: 600px;
        background-position: center;
        background-size: cover;
        width: 50%;
      }

      .content-with-glass {
        width: 50%;
        padding: 175px 80px 90px 90px;
        background-color: white;
      }

      .third-inactive-line {
        background-color: rgb(248, 66, 66);
        opacity: 20%;
        z-index: 99;
        display: block;
        position: relative;
        top: -1.5%;
        width: 120px;
        height: 10px;
        border-radius: 10px;
        content: "";
        cursor: pointer;
      }

      .fourth-content {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: inline-flex;
      }

      .content-with-cherry {
        background-image: url("https://raw.githubusercontent.com/haneulffer98/Sunnyside-agency-landing-page/main/images/desktop/image-graphic-design.jpg");
        display: block;
        height: 600px;
        background-position: center;
        background-size: cover;
        width: 50%;
        align-items: center;
      }

      .fourth-content-title {
        font-family: "Fraunces", serif;
        padding-top: 50%;
        bottom: 0;
        text-align: center;
        color: hsl(167, 40%, 24%);
        font-weight: 900;
      }

      .fourth-content-p {
        font-family: "Barlow", sans-serif;
        font-size: 1.1em;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        line-height: 25px;
        color: hsl(167, 40%, 24%);
      }

      .content-with-orange {
        background-image: url("https://raw.githubusercontent.com/haneulffer98/Sunnyside-agency-landing-page/main/images/desktop/image-photography.jpg");
        background-position: center;
        background-size: cover;
        text-align: center;
        position: relative;
        width: 50%;
      }

      .content-with-orange p {
        font-family: "Barlow", sans-serif;
        font-size: 1.1em;
        line-height: 25px;
        color: hsl(198, 62%, 26%);
      }

      .content-with-orange h1 {
        font-family: "Fraunces", serif;
        padding-top: 50%;
        bottom: 0;
        text-align: center;
        color: hsl(198, 62%, 26%);
        font-weight: 900;
      }

      .fifth-content-title {
        text-transform: uppercase;
        font-family: "Fraunces", serif;
        color: hsl(210, 4%, 67%);
        text-align: center;
        font-size: 100%;
        margin-top: 50px;
      }

      .fifth-content {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        padding-top: 50px;
      }

      .emily-pic,
      .thomas-pic,
      .jennie-pic {
        border-radius: 100%;
        height: 13vh;
        max-width: 100%;
      }

      .client {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 50px;
        text-align: center;
        line-height: 30px;
      }

      .client-p {
        font-family: "Barlow", sans-serif;
        color: hsl(213, 9%, 39%);
        padding-top: 50px;
      }

      .client-name {
        font-family: "Fraunces", serif;
        color: hsl(212, 27%, 19%);
        font-size: 1em;
        padding-top: 50px;
      }

      .client-job {
        font-family: "Barlow", sans-serif;
        color: hsl(210, 4%, 67%);
        font-size: 0.8em;
        padding-bottom: 100px;
      }

      .sixth-content {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      .sixth-content img {
        width: 100%;
        object-fit: cover;
      }

      .footer {
        margin: 0;
        padding: 0;
        text-align: center;
      }

      #footer-info {
        padding: 20px;
        font-family: "Barlow", sans-serif;
        display: inline-flex;
        justify-content: space-evenly;
        text-decoration: none;
        color: white;
      }

      .attribution {
        font-size: 11px;
        text-align: center;
        font-family: "Barlow", sans-serif;
        padding-bottom: 20px;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
